@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700&display=swap');
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: rgb(0, 172, 255);
    background: linear-gradient(75deg, rgba(0, 172, 255, 1) 15%, rgba(0, 87, 255, 1) 100%);
    user-select: none;
    font-family: 'Noto Sans Bengali', sans-serif;
    color: rgba(0, 87, 255, 1);
}

.player-container {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container-img {
    width: 100px;
    margin-top: 30px;
}

#title {
    margin: 30px auto;
    color: rgba(0, 87, 255, 1);
    font-size: 20px;
}

.title-container {
    position: relative;
}

.title-container::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 100%;
    background: linear-gradient(90deg, #fff 50%, rgba(0, 85, 255, 0) 100%);
    left: 0px;
    top: 0;
    z-index: 1;
}

.title-container::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0px;
    top: 0;
    z-index: 1;
}

.progress-bar {
    width: 80%;
    height: 5px;
     background-color: rgba(199, 140, 255, 0.442);
    border-radius: 10px;
    position: relative;
}
.progress-bar>div{
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(0, 172, 255);
    background: linear-gradient(75deg, rgba(0, 172, 255, 1) 15%, rgba(0, 87, 255, 1) 100%);
    
}
.btn-container>i {
    font-size: 50px;
    color: rgba(0, 87, 255, 1);
    margin: 30px 5px;
}
input[type="file"]{
    display: none;
}
.label{
    width: 300px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
}
i{
    cursor: pointer;
}