@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --color-dark-1: #11324D;
    --color-dark-2: #6B7AA1;
    --color-light-2: #C1CFC0;
    --color-light-1: #E7E0C9;
}
body{
    background: var(--color-dark-2);
    color: var(--color-light-1);
    text-shadow: 0px 0px 10px rgb(0 0 0 / 83%);
    font-family: 'Poppins', sans-serif;
}
h1{
    text-shadow: 2px 2px 10px rgb(12 27 41);
}
.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
}
.main{
    padding: 1%;
    width: 70%;
    border: 4px solid var(--color-dark-1); 
    border-radius: 20px;
}
.qt-component{
    padding: 1%;
    font-size: 1.2rem;
}
.options{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
button{
    border: none;
    background-color: var(--color-light-2);
    color: var(--color-dark-1);
    border-radius: 20px;
    padding: 1%;
    margin: 1%;
    width: 30%;
    font-weight: bold;
    box-shadow: -1px 4px 10px 0px rgba(17,50,77,0.75);
    -webkit-box-shadow: -1px 4px 10px 0px rgba(17,50,77,0.75);
    -moz-box-shadow: -1px 4px 10px 0px rgba(17,50,77,0.75);
}
button:hover{
    background-color: var(--color-dark-1);
    color: var(--color-light-2);
    cursor: pointer;
}
.chosen{
    background-color: var(--color-dark-1);
    color: var(--color-light-2);
}
.submit{
    width: 100%;
    text-align: center;
}
.submit-btn{
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    width: 20%;
}
.score-outer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    opacity: 1;
}
.score-inner{
    width: 50%;
    padding: 2%;
    height: 20%;
    border-radius: 20px;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    text-align: center;
}
.new-quiz:hover{
    background-color: var(--color-light-2);
    color: var(--color-dark-1);
    cursor: pointer;
}
h3{
    margin-top: 1%;
}
.Icon{
    color: var(--color-dark-1);
}
.copyright{
    display: flex;;
    flex-direction: column;
    align-items: center;
}
.copyright-1{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.cr{
    color: #ffffff;
    padding: 0 1px 0 1px;
    font-size: 0.2rem;
}
@media only screen and (max-width: 425px) {
    .main {
      width: 90%;
    }
  }