@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=REM:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(94.5deg,
            #333 -43.58108108108108%,
            #000000 0%,
            #090938 100%,
            #070707 0%); */
    background: linear-gradient(94.5deg, #ff512f, #DD2476);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: transparent;
    /* background-color: white; */
    /* background: linear-gradient(94.5deg,
                #333 -43.58108108108108%,
                #000000 0%,
                #090938 100%,
                #070707 0%); */
    /* opacity: 50%; */
    box-shadow: -3px -3px 4px rgba(199, 199, 199, 0.5), 2px 2px 4px rgba(196, 196, 196, 0.5);
    padding: 15px;
}
.last_row button:first-child{
    /* background: #000; */
    width: 120px;
}

#number-show {
    width: 275px;
    height: auto;
    padding: 6px;
    text-align: right;
    border-color: transparent;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    font-size: 40px;
    font-weight: 300;
}

input::placeholder {
    color: white;
}
input{
    margin-top: 12px;
}
.input{
    background-color: rgba(255, 255, 255, 0.3);
    width: 290px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin: 9px;
    background-color: rgba(238, 238, 238, 0.4);
    font-size: 22px;
    /* box-shadow: 2px 2px 2px rgb(0, 0, 0), -2px -2px 4px rgb(20, 20, 55); */

    color: white;
    font-weight: 300;
    cursor: pointer;
}

.work-btn {
    color: rgb(0, 124, 182);
}

#equal {
    background-color: orangered;
    /* box-shadow: 2px 2px 2px rgb(0, 0, 0), -3px -3px 5px rgb(20, 20, 55); */
}
#equal:hover{
    background-color: rgb(255, 102, 47);
}

button:hover {
    background-color: rgba(238, 238, 238, 0.7);
}

#equal:hover {
    box-shadow: none;
}

header {
    width: 320px;
    height: auto;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: -3px -3px 4px rgb(21, 27, 51), 2px 2px 4px rgb(0, 0, 0);
    margin: 18px;
}