body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header a {
    text-decoration: none;
    color: #007BFF;
}

header a:hover {
    text-decoration: underline;
}

#articles {
    margin-top: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
}

article:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

#write-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#write-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#write-form input[type="text"],
#write-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#write-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#write-form button:hover {
    background-color: #0056b3;
}
