/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --prodigy: rgb(60, 140, 255);
    --prodigy-a: 60, 140, 255;
    --font-body: 'Inter', sans-serif;
    --font-prodigy: 'Libre Baskerville', serif;
}

/* login css */
body {
    font-family: var(--font-body) !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    width: 100vw;
    height: 100vh;
}

.mx-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.font-semibold {
    font-weight: 600;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-white {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.select-none {
    user-select: none;
}

.bg-login {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background: url(assets/bg-login1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000300;

    animation: changeBg 15s infinite ease-in-out running;
}

.glassmorphism {
    backdrop-filter: blur(2px) saturate(175%);
    -webkit-backdrop-filter: blur(2px) saturate(175%);
    background-color: rgba(240, 242, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-wrapper {
    max-width: 392px;
    height: 100%;
    display: flex;
    align-items: center;
}

.login {
    width: 100%;
    border-radius: 1rem;
    padding: 36px 4px;
    /* use background-color white if dont want use glassmorphism effect */
    /* background-color: white; */
}

.login-text {
    margin-bottom: 3rem;
}

.login-text-head {
    font-family: var(--font-prodigy);
    font-size: 2.2rem;
    color: var(--prodigy);
    filter: drop-shadow(1px 2px 1px rgb(10, 60, 200));
    margin-bottom: 4px;
}

.login-text-sub {
    opacity: .75;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.login-form-wrapper {
    width: 90%;
}

.input {
    display: block;
    border-radius: 6px;
    padding: 1rem 10px 10px;
    width: 95%;
    color: black;
    background-color: rgba(240, 240, 240, .75);
    border-width: 0;
    border-bottom-width: 2px;
    border-color: rgb(55, 65, 80);
    appearance: none;
}

.label {
    position: absolute;
    color: rgba(1, 2, 3, .5);
    transition-duration: 300ms;
    transform: translateY(-1rem) scale(.75);
    transform-origin: 0;
    top: 1rem;
    left: 10px;
    z-index: 10;
}

.input-email:focus {
    border-color: var(--prodigy);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.input-email:focus~.label-email {
    color: var(--prodigy);
    transform: translateY(-1rem) scale(.85);
}

.input-email:placeholder-shown~.label-email {
    transform: translateY(0) scale(1);
}

.input-password:focus {
    border-color: var(--prodigy);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.input-password:focus~.label-password {
    color: var(--prodigy);
    transform: translateY(-1rem) scale(.85);
}

.input-password:placeholder-shown~.label-password {
    transform: translateY(0) scale(1);
}

.icon-right {
    color: rgb(155, 165, 180);
    top: 30%;
    right: 12px;
}

.icon-left {
    top: 25%;
    left: 1.5rem;
    font-size: 1.25rem;
}

.btn {
    padding-block: 12px;
    border-radius: 1.5rem;
    border: none;
    font-size: 14px;
}

.login-button {
    width: 90%;
    margin-block: 1.5rem;
    background-color: var(--prodigy);
    color: white;
}

.login-button:hover {
    background-color: rgba(var(--prodigy-a), .92);
}

.forgot-password {
    text-underline-offset: 4px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.button-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto 1.5rem;
    gap: 6px;
}

.apple-button {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.apple-button:hover {
    background-color: rgba(0, 0, 0, 1);
}

.ghost-button {
    width: 100%;
    border: 2px solid black;
    background-color: transparent;
}

.ghost-button:hover {
    background-color: black;
    color: white;
}

/* animation */
@keyframes changeBg {
    0% {
        background-image: url(assets/bg-login1.jpg);
    }

    25% {
        background-image: url(assets/bg-login2.jpg);
    }

    50% {
        background-image: url(assets/bg-login3.jpg);
    }

    100% {
        background-image: url(assets/bg-login1.jpg);
    }
}